<!DOCTYPE html>
<html>
<head>
	<title>addpost</title>
</head>
<body>
	<form method="post" action="/addpost">
		<p><input placeholder="title" name="title"></p>
		<p><textarea placeholder="content" name="content"></textarea></p>
		<p><button type="submit">add</button></p>
	</form>
</body>
</html>